doctype html
head
	title Surf | A slideshow boilerplate
	link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css")
	link(rel="stylesheet" type="text/css" href="/css/main.css")
body
	h1 Surf

	script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
	script(type="text/javascript" src="/dist/surf-0.1.0.js")